doctype
head
    title asscup
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
    link(rel="stylesheet", href="./docs/css/asscup.css")
    link(rel="shortcut icon", href="./docs/favicon.ico", type="image/x-icon")
body
    textarea#input-area
    div#output-area
    div#logo asscup
    script(src="./docs/js/asscup-page.js")
